* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  scroll-behavior: smooth;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}
.brand img{
  width: 200px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul{
  margin:-10px;
}
nav ul li {
  list-style: none;
}
nav ul li a{
  color: #000000;
  text-transform: capitalize;
  margin: 0 35px;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 18px;
  text-decoration: none;
}
nav ul li a:hover{
  color: #c2272f;
  text-decoration: none;
}

.search i{
  cursor: pointer;
}

/* INFO */
.info{
  position: relative;
  background-image: url("../img/info.svg");
  height: 800px;
  background-size: cover;
  display: flex;
  align-items: center;
}

.info::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(194, 39, 47, 0.5);
}
.info img {
  z-index: 1;
  margin-right: 5%;
}
.info .info__avatar{
  position: absolute;
  left: 183px;
  top: 251px;
  cursor: pointer;
  transition: all 0.5s;
}
.info .info__avatar:hover{
  transform: scale(1.2);
  top: 245px;
}
.info__content{
  z-index: 1;
  color: #ffffff;
  width: 40%;
	padding-left: 40px;
}
.info__content h6{
  margin-bottom: 10px;
  text-transform: uppercase;
}
.info__content h2{
  font-weight: 800;
  font-size: 44px;
  line-height: 56px;
}
.info__content p{
  font-size: 16px;
  line-height: 22px;
  padding-right: 5%;
  margin: 30px 0;
}
.info__action button {
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  color: #ffffff;
  margin-right: 50px;
  padding: 10px 20px;
  border: 2px solid #FFFFFF;
  transition: all 0.5s;
}
.info__action button:hover {
  outline: none;
  background-color: #ffffff;
  color: #000000;
}
.info__action a {
  font-weight: normal;
  color: #ffffff;
  text-decoration: underline;
}
.info__down {
  position: absolute;
  bottom: 3%;
  right: 3%;
}
.info::after {
  content: "";
  position: absolute;
  bottom: 7%;
  right: 3.5%;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
}
.info__down i {
  font-size: 30px;
}
/* SKILL */
.skill{
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 120px 0 200px 0;
}
.skill::before{
  content: "skills";
  position: absolute;
  font-size: 100px;
  font-weight: 900;
  line-height: 40px;
  color: rgba(55, 63, 65,0.2);
  text-transform: uppercase;
  left: 50%;
  top: 24%;
  transform: translateX(-50%); 
}
.skill__content{
  text-align: center;
  margin: 15px 0px ;
}

.skill__content h3{
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.1px;
	padding-bottom: 20px;

}
.skill__content p{
  color: #737B7D;
	font-size: 18px;
	padding-bottom: 60px;
}

.skill__info{
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill__info__item{
  flex: 1;
  padding: 0 10px;
  text-align: center;
}
.skill__info__item img{
  width: 35px;
  margin-bottom: 10px;
}
.skill__info__item h4{
  font-weight: bolder;
  font-size: 20px;
  line-height: 24px
}
.skill__info__item h6{
  margin: 5px 0;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
	color: #636363;
}
.skill__info__item p
{
	font-size: 16px
}
/* PRODUCT */
.products{
  position: relative;
  background-image: url("../img/info.png");
  height: 600px;
  background-size: cover;
  display: flex;
  align-items: center;
}
.products::before{
  content: "products";
  position: absolute;
  font-size: 100px;
  font-weight: 900;
  line-height: 40px;
  color: rgba(55, 63, 65,0.2);
  text-transform: uppercase;
  left: 50%;
  top: -3%;
  transform: translateX(-50%); 
}
.products__header{
  position: absolute;
  left: 50%;
  top: -3%;
  transform: translateX(-50%); 
  text-transform: capitalize;
  background-color: #c2272f;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
	font-style: bolder;

}
.products__content{
  overflow: hidden;
	height: 350px;
}
.product__slider{
  padding-left: 10%;
}

.product__slider .products__item img{
  height: 250px;
  width: 250px;
}
.product__slider .products__item h2{
  font-size: 18px;
  padding: 10px 0;
}
.product__slider .products__item h4{
  font-weight: 600;
  font-size: 14px;
  line-height: 4px;
  margin-bottom: 5px;
  color: #737B7D;
}

/* FOOTER */
footer{
  position: relative;
  background-color: #4A4A4A;
  height: 400px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
footer h5{
  font-weight: 600;
  font-size: 14px;
  line-height: 40px;
  padding: 20px 0;
  color: #ffffff;
}

.contact{
  position: absolute;
  display: flex;
  top: -23%;
  left: 10%;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
  background-color: #8B1315;
  padding: 80px 0;
  border-radius: 10px;
  color: #ffffff;
	-webkit-box-shadow: 0px 15px 31px -19px rgba(0,0,0,0.6);
 	-moz-box-shadow: 0px 15px 31px -19px rgba(0,0,0,0.6);
 	box-shadow: 0px 15px 31px -19px rgba(0,0,0,0.6);
}

.contact__left{
  flex-basis: 40%;
  text-align: center;
}
.contact__left img 
.contact__left h4 {
  margin-bottom: 20px;
}

.contact__left .contact__socical img{
  margin: 40px 20px;
}
.contact__info img{
  margin: 0 5px;
}
.contact__info span:nth-child(3){
  margin-left: 20px;
}

.contact__right{
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  
}
.contact__right h4{
  margin-bottom: 30px;
}
.contact__right input, 
.contact__right textarea{
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 2px;
  border: none;
}
.contact__right input:focus, 
.contact__right textarea:focus{
  outline: none;
}
.contact__right button{
  font-weight: bold;
  background-color: transparent;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  border: 2px solid #FFFFFF;
  transition: all 0.5s;
}
.contact__right button:hover{
  outline: none;
  background-color: #ffffff;
  color: #000000;
}